main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

body {
    background-color: #d6e2f0;
    font-family: 'Outfit', sans-serif;
}

.container {
    background-color: #ffffff;
    max-width: 20rem;
    padding: 16px;
    border-radius: 1.3rem;
    margin: auto;
}

.bottom-container {
    background-color: #d6e2f0;
    text-align: center;
    padding: 10px 0;
}

.QR-code {
    max-width: 100%;
    display: block;
    border-radius: 0.7rem;
    margin-bottom: 30px;
}

.text1 {
    font-weight: 700;
    font-size: 1.5rem;
}

.text2 {
    color: #7b879d;
    font-weight: 400;
    font-size: 1.2rem;
}
